services:
  - type: web
    name: mysite
    env: python
    plan: free
    branch: main
    buildCommand: "./build.sh"
    startCommand: "python manage.py runserver 0.0.0.0:$PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.12.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false
      - key: DATABASE_URL
        fromDatabase:
          name: mysite-db
          property: connectionString

databases:
  - name: mysite-db
    plan: free
    databaseName: mysitedb
    user: mysiteuser
