#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(219, 100, 100, 0.822);
}

.btn-primary,
.btn-success {
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #264653 !important;
  transform: translateY(-2px);
}

.btn-success:hover {
  background-color: #21867a !important;
  transform: translateY(-2px);
}

.role-card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.role-card:hover {
  background-color: #1d3557 !important;
  color: #fff !important;
}

.active-role {
  box-shadow: 0 6px 15px rgba(42, 157, 143, 0.4);
}

.btn-primary,
.btn-success {
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #264653 !important;
  transform: translateY(-2px);
}

.btn-success:hover {
  background-color: #21867a !important;
  transform: translateY(-2px);
}
